.str1 {stroke:#737273;stroke-width:2.15;stroke-miterlimit:22.9256}
.str0 {stroke:#737273;stroke-width:2.87;stroke-miterlimit:22.9256}
.str2 {stroke:#737273;stroke-width:1.43;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.fil5 {fill:none}
.fil3 {fill:#E6E7E8}
.fil1 {fill:#6B809B}
.fil4 {fill:#737273}
.fil2 {fill:#FEFEFE;fill-rule:nonzero}
.fil0 {fill:#727376;fill-rule:nonzero}

.ocupacion-1{
    fill:#6B809B
  }

  .ocupacion-0{
      fill: rgb(95, 143, 95)
  }
