    /*Notifications*/
.notification {
        text-align: center;
        padding: 10px 20px;
        border-radius: 4px;
        color: #fff;
        font-size: 1.8rem;
        background: #007E33;
        font-family: "Dr Ahorro";
      }
.success {
        background: #43DC7E;
        color: white;
      }
.error {
        background: #AB3444;
        color: white;
        margin-bottom: 20px;
      }
.warning {
        background:  #eff30f;
        color: black;
        margin-bottom: 20px;
      }