@charset "UTF-8";
.str10 {stroke:#727376;stroke-width:17.31;stroke-miterlimit:22.9256}
.str6 {stroke:#737273;stroke-width:17.31;stroke-miterlimit:22.9256}
.str1 {stroke:#737273;stroke-width:13.08;stroke-miterlimit:22.9256}
.str7 {stroke:#BDBFC1;stroke-width:11.54;stroke-miterlimit:22.9256}
.str3 {stroke:#848688;stroke-width:4.98;stroke-miterlimit:22.9256}
.str0 {stroke:#373435;stroke-width:4.98;stroke-miterlimit:22.9256}
.str4 {stroke:#6D6C6C;stroke-width:4.98;stroke-miterlimit:22.9256}
.str2 {stroke:#727376;stroke-width:17.31;stroke-miterlimit:22.9256;stroke-dasharray:86.548747 51.929248}
.str5 {stroke:#727376;stroke-width:17.31;stroke-miterlimit:22.9256;stroke-dasharray:173.097494 51.929248}
.str9 {stroke:#727376;stroke-width:11.54;stroke-miterlimit:22.9256;stroke-dasharray:57.699165 57.699165}
.str8 {stroke:#A9ABAE;stroke-width:6.53;stroke-miterlimit:22.9256;stroke-dasharray:65.287717 32.643858}
.fil0 {fill:none}
.fil7 {fill:none;fill-rule:nonzero}
.fil10 {fill:#FEFEFE}
.fil6 {fill:#F1F1F2}
.fil1 {fill:#E6E7E8}
.fil2 {fill:#D2D3D5}
.fil9 {fill:#ED3237}
.fil3 {fill:#6B809B}
.fil4 {fill:#FEFEFE;fill-rule:nonzero}
.fil5 {fill:#727376;fill-rule:nonzero}
.fil8 {fill:#6D6C6C;fill-rule:nonzero}
