{% extends "index.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/penetrables.css' %}">
    <div class="col-12 main-penetrables">
        <div class="titulo"><h2>Penetrables</h2></div>
        <div class="titulo"><h2>(F)</h2></div>
        <div class="row fila-fondo">

        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>        
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>   
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>
        <div class="rack-fondo"><a href="#" class="link-penetrable"><div class="rack-fondo-arriba">
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba"></div>
            <div class="racks-arriba rack-SinBott"></div>
        </div></a>
        <a href="#" class="link-penetrable"><div class="rack-fondo-abajo">
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba"></div>
                <div class="racks-arriba rack-SinBott"></div>
            </div>
        
        </div></a>

        <div class="col-12 nombre-rack">

            <a href="#" class="link-penetrable"><h3>F12</h3></a>
            <a href="#" class="link-penetrable"><h3>F11</h3></a>
            <a href="#" class="link-penetrable"><h3>F10</h3></a>
            <a href="#" class="link-penetrable"><h3>F9</h3></a>
            <a href="#" class="link-penetrable"><h3>F8</h3></a>
            <a href="#" class="link-penetrable"><h3>F7</h3></a>
            <a href="#" class="link-penetrable"><h3>F6</h3></a>
            <a href="#" class="link-penetrable"><h3>F5</h3></a>
            <a href="#" class="link-penetrable"><h3>F4</h3></a>
            <a href="#" class="link-penetrable"><h3>F3</h3></a>
            <a href="#" class="link-penetrable"><h3>F2</h3></a>
            <a href="#" class="link-penetrable"><h3>F1</h3></a>



        </div>
    </div>
</div>


{% endblock %}