{% extends "index.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/pallets.css' %}">

<link rel="stylesheet" href="{% static 'css/busqueda.css' %}">

{% if messages %}
        {% for message in messages %}
          <div class="notification {{ message.tags }}" id="usuario">
            {{ message|upper }}
          </div>
        {% endfor %}
        {% endif %}

{% if articulos %}
<div class="col-11">
    <div class="row contenedor">



{% for articulo in articulos %}

<div class="card" style="width: 18rem;">
    <div class="imagen">
    <img src="{{producto.imagen.url}}" class="card-img-top" alt="pallet">
    </div>
    <div class="card-body contenedor-titulo">
      <h5 class="card-title">{{ producto.articulo|upper }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fecha de Vencimiento: {{ producto.fecha_vencimiento }}</li>
      <li class="list-group-item">Cantidad: {{ producto.cantidad }}</li>
      <li class="list-group-item">Lote: {{ producto.lote }}</li>
      <li class="list-group-item">Ubicacion: {{ ubicacion }}</li>
    </ul>
    <div class="card-body botones">
       <a href="#"><button type="button" class="btn btn-warning">Editar</button></a>
       <a href="#"><button type="button" class="btn btn-danger">Eliminar</button></a>
    </div>
  </div>

{% endfor %}
</div>
</div>

{% else %}
<div class="notification warning" id="usuario">
    <p>Sin Resultados</p>
  </div>

{% endif %}
{% endblock %}