{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposito</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dropdowns/">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">  
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <style>
      @font-face {
    font-family: "Dr Ahorro"; /* El nombre que deseas dar a la fuente */
    src: url("{% static 'fuentes/FF_DIN_Pro_Bold_Italic_0.otf' %}"); /* La ruta donde guardaste el archivo de la fuente */
    }
    html{
      font-family: "Dr Ahorro";
    }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    {% include "cargador.html" %}

    <header>
        <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo-drahorro"></a></div> 
        <div class="menu">  
            <a href=""><ion-icon name="close" class="close"></ion-icon></a>  
            <ul>  
                <li><a href="{% url 'index' %}" class="under">INICO</a></li>    
                <li><a href="{% url 'penetrables' %}" class="under ">PENETRABLES</a></li>  
                <li><a href="{% url 'suplementos' %}" class="under">SUPLEMENTOS</a></li>  
                <li><a href="{% url 'psicotropicos' %}" class="under">PSICOTROPICOS</a></li>  
            </ul>  
          </div>  

          <div class="heading">  
            <ul> 
              <li><a href="{% url 'vencimientos' %}" class="under vence">VENCIMIENTOS</a></li>
            </ul>  
          </div>   

          <form method="get" action="{% url 'buscar' %}">
            <div class="search">
              <label for="buscar" class="label-buscar">Buscar por:</label>
              <select id="buscar" name="opcion">
                <option value="Producto">Producto</option>
                <option value="Cantidad">Cantidad</option>
                <option value="Lote">Lote</option>
                <option value="Mueble">Mueble</option>
              </select>  
              <label for="search"></label>
              <input type="text" placeholder="Buscar..." id="input" name="query">  
              <button type="submit" class="btn-buscar"><ion-icon class="s" name="search"></ion-icon></button>   
            </div>
          </form> 
        
          <div class="heading">  
            <ul>  
              <li><a href="{% url 'index' %}" class="under">INICIO</a></li>    
              <li><a href="{% url 'penetrables' %}" class="under ">PENETRABLES</a></li>  
              <li><a href="{% url 'suplementos' %}" class="under">SUPLEMENTOS</a></li>  
              <li><a href="{% url 'psicotropicos' %}" class="under">PSICOTROPICOS</a></li>  
            </ul>  
          </div>  

          <div class="heading1">  
            <ion-icon name="menu" class="ham"></ion-icon>  
          </div>
          
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>


    
    <script src="{% static 'js/header.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> 
    <script >
      var idleTime = 0;
  
  $(document).ready(function () {
      // Incrementar el contador de tiempo inactivo cada minuto.
      var idleInterval = setInterval(timerIncrement, 60000); // 1 minuto
  
      // Reiniciar el contador de tiempo inactivo al mover el mouse o presionar una tecla.
      $(this).mousemove(function (e) {
          idleTime = 0;
      });
      $(this).keypress(function (e) {
          idleTime = 0;
      });
  });
  
  function timerIncrement() {
      idleTime += 1;
      if (idleTime >= 30) { // 2 minutos de inactividad
          // Redirigir o recargar la página actual
          window.location.href = "{% url 'index' %}"
      }
  }
  
  </script>
    
</body>
</html>