{% extends "index.html" %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/plano.css' %}">

    <div class="col-12 todo">
        <div class="row">

    <div class="col-7 plano">
        



   <div class="col-lg-7">
    <a href="{% url 'penetrables' %}"  class="link-cajitas"><div class="fondo"><h3>Penetrables</h3>
        <div class="titulo-cajita"><h5>(F)</h5></div></div></a>
</div>



    <div class="col-12 frente">
        <div class="titulo-plano"><h5>Estantes (E)</h5></div>
        <div class="fila">
             <a href="#" class="link-estante"><div class="rack duplex"><!--<h3>E10</h3> -->
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano estante-sinborde"></div>

            </div></a>

            <div class="fila duplex">
                 <a href="#"><div class="rack rack-doble-izq"><!--<h3>E9</h3> -->
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano"></div>
                <div class="estante-plano estante-sinborde"></div>
                </div></a>

                 <a href="#"><div class="rack rack-doble-der"><!--<h3>E8</h3> -->
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano estante-sinborde"></div>
                </div></a>
            </div>


            <div class="fila duplex">
                 <a href="#"><div class="rack rack-doble-izq"><!--<h3>E7</h3> -->
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano estante-sinborde"></div>
                </div></a>
                
                <a href="#"><div class="rack rack-doble-der"><!-- <h3>E6</h3> -->
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano estante-sinborde"></div>
                </div></a>
            </div>

            <div class="fila duplex">
                 <a href="#"><div class="rack rack-doble-izq"><!--<h3>E5</h3> -->
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano estante-sinborde"></div>
                </div></a>

                 <a href="#"><div class="rack rack-doble-der"><!--<h3>E4</h3> -->
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano estante-sinborde"></div>
                </div></a>
            </div>

            <div class="fila duplex">
                 <a href="#"><div class="rack rack-doble-izq"><!--<h3>E3</h3> -->
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano"></div>
                    <div class="estante-plano estante-sinborde"></div>
                </div></a>
                
                <div class="rack rack-doble-der"><!--<h3>E2</h3> -->
                    <a href="#" class="estante-plano"><div></div></a>
                    <a href="#" class="estante-plano"><div></div></a>
                    <a href="#" class="estante-plano"><div></div></a>
                    <a href="#" class="estante-plano"><div></div></a>
                    <a href="#" class="estante-plano"><div></div></a>
                    <a href="#" class="estante-plano"><div></div></a>
                    <a href="#" class="estante-plano"><div></div></a>
                    <a href="#" class="estante-plano"><div></div></a>
                <a href="#" class="estante-plano estante-sinborde"><div></div></a>
                </div>
            </div>

             <div class="rack duplex"><!--<h3>E1</h3> -->
                <a href="#" class="estante-plano"><div class="cuadricula"><div class="lugar lugar1"></div>
                <div class="lugar lugar2"></div>
                <div class="lugar lugar3"></div>
                <div class="lugar lugar4"></div></div></a>
                <a href="#" class="estante-plano"><div></div></a>
                <a href="#" class="estante-plano"><div></div></a>
                <a href="#" class="estante-plano"><div></div></a>
                <a href="#" class="estante-plano"><div></div></a>
                <a href="#" class="estante-plano"><div></div></a>
                <a href="#" class="estante-plano"><div></div></a>
                <a href="#" class="estante-plano"><div></div></a>
                <a href="#" class="estante-plano estante-sinborde"><div></div></a>
            </div>

            

        </div>

        <!-- <div class="col-12 nombre-rack">

            <a href="#" class="link-penetrable"><h3>F12</h3></a>
            <a href="#" class="link-penetrable"><h3>F11</h3></a>
            <a href="#" class="link-penetrable"><h3>F10</h3></a>
            <a href="#" class="link-penetrable"><h3>F9</h3></a>
            <a href="#" class="link-penetrable"><h3>F8</h3></a>
            <a href="#" class="link-penetrable"><h3>F7</h3></a>
            <a href="#" class="link-penetrable"><h3>F6</h3></a>
            <a href="#" class="link-penetrable"><h3>F5</h3></a>
            <a href="#" class="link-penetrable"><h3>F4</h3></a>
            <a href="#" class="link-penetrable"><h3>F3</h3></a>
            <a href="#" class="link-penetrable"><h3>F2</h3></a>
            <a href="#" class="link-penetrable"><h3>F1</h3></a>



        </div> -->


        

    </div>

    <div class="col-lg-7 fila inicio">

        <a href="{% url 'suplementos' %}" class="link-cajitas"><div class="fondo plano-abajo"><h3>Suplementos </h3>
            <div class="titulo-cajita"><h5> (S)</h5></div></div></a>
        <a href="{% url 'psicotropicos' %}" class="link-cajitas"><div class="fondo plano-abajo"><h3>Psicotropicos</h3>
            <div class="titulo-cajita"><h5> (P)</h5></div></div></a>

    </div>
    

</div>

<div class="col-5 vencimiento">

    {% include 'vencimientos.html' %}
</div>



</div>
</div>
{% endblock %}
