<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/pasillos.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
   
    
    <section>
     <div class="col-12"> 
        <div class="col-8">
            <div class="row">
                <div class="col-10 wrap-resposive">

        <div class="section-podructs">   
          <div class="section2">  
            <div class="container">
              <a href="#" class="shadow-sm">  
              <div class="items">  
                <div class="img img1"><img  
                    src="../static/img/rack.jpg"  
                    alt=""></div>  
                <div class="name">M1</div>     
                <div class="info">Libre: --</div>
                <div class="info">Ocupado: --</div>
               </div>
              </a>

              <a href="#">  
                <div class="items">  
                  <div class="img img1"><img  
                      src="../static/img/rack.jpg"  
                      alt=""></div>  
                  <div class="name">M2</div>     
                  <div class="info">Libre: --</div>
                  <div class="info">Ocupado: --</div>
                 </div>
                </a>



                <a href="#">  
                    <div class="items">  
                      <div class="img img1"><img  
                          src="../static/img/rack.jpg"  
                          alt=""></div>  
                      <div class="name">M3</div>     
                      <div class="info">Libre: --</div>
                      <div class="info">Ocupado: --</div>
                     </div>
                    </a>


                    <a href="#">  
                        <div class="items">  
                          <div class="img img1"><img  
                              src="../static/img/rack.jpg"  
                              alt=""></div>  
                          <div class="name">M4</div>     
                          <div class="info">Libre: --</div>
                          <div class="info">Ocupado: --</div>
                         </div>
                        </a>


                        <a href="#">  
                            <div class="items">  
                              <div class="img img1"><img  
                                  src="../static/img/rack.jpg"  
                                  alt=""></div>  
                              <div class="name">Accesorios</div>     
                              <div class="info">Libre: --</div>
                              <div class="info">Ocupado: --</div>
                             </div>
                            </a>


                            <a href="#">  
                                <div class="items">  
                                  <div class="img img1"><img  
                                      src="../static/img/rack.jpg"  
                                      alt=""></div>  
                                  <div class="name">Suplementos</div>     
                                  <div class="info">Libre: --</div>
                                  <div class="info">Ocupado: --</div>
                                 </div>
                                </a>
                            
                                <a href="#">  
                                    <div class="items">  
                                      <div class="img img1"><img  
                                          src="../static/img/rack.jpg"  
                                          alt=""></div>  
                                      <div class="name">Psicotropicos</div>     
                                      <div class="info">Libre: --</div>
                                      <div class="info">Ocupado: --</div>
                                     </div>
                                    </a>

            </div>
        </div>
       </div>


    </div>
        </div>
        </div>



    </div>
  </section> 



    
</body>
</html>