{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- <style>
    .contenedor{
        border: 2px gray solid;
        width: 90%;
        height: 500px;
        display: flex;
        justify-content: center;
    }


</style>

<div class="col-4">
    <div class="contenedor">
        <h2>Proximos Vencimientos</h2>

    </div>

</div> -->


    <div class="alert alert-primary" style="background-color: rgba(128,128,128,0.08); width: 100%; margin-right: 2rem;" role="alert">
            
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th scope="row" colspan="5" class="text-center">Proximos Vencimientos</th>
                </tr>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Fecha de Vto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Lote</th>
                    <th scope="col">Ubicacion</th>
                    <th scope="col"></th>
                    
>
                </tr>
            </thead>

            <tbody>


                {% for producto in productos %}
    
                <tr>
                    <td>{{ producto.articulo}}</td>
                    <td>{{ producto.fecha_vencimiento }}</td>
                    <td>{{ producto.cantidad }}</td>
                    {% if producto.ubicacionF.ubicacion %}
                        <td>{{ producto.ubicacionF.ubicacion }}</td>
                        <td><a href="{% url 'pallet' ubicacion=producto.ubicacionF.ubicacion %}">Ir ></a></td>
                    {% elif producto.ubicacionE.ubicacion %}
                        <td>{{ producto.ubicacionE.ubicacion }}</td>
                        <td><a href="{% url 'pallet' ubicacion=producto.ubicacionE.ubicacion %}">Ir ></a></td>
                    {% elif producto.ubicacionP.ubicacion %}
                        <td>{{ producto.ubicacionP.ubicacion }}</td>
                        <td><a href="{% url 'pallet' ubicacion=producto.ubicacionP.ubicacion %}">Ir ></a></td>
                    {% elif producto.ubicacionS.ubicacion %}
                        <td>{{ producto.ubicacionS.ubicacion }}</td>
                        <td><a href="{% url 'pallet' ubicacion=producto.ubicacionS.ubicacion %}">Ir ></a></td>
                    {% endif %}
                    
                </tr>
                {% endfor %}
                

        </tbody>
        <hr>
    </table>
   
    </div>
        

