{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- <style>
    .contenedor{
        border: 2px gray solid;
        width: 90%;
        height: 500px;
        display: flex;
        justify-content: center;
    }


</style>

<div class="col-4">
    <div class="contenedor">
        <h2>Proximos Vencimientos</h2>

    </div>

</div> -->


    <div class="alert alert-primary" style="background-color: rgba(128,128,128,0.08); width: 100%; margin-right: 2rem;" role="alert">
            
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th scope="row" colspan="5" class="text-center">Proximos Vencimientos</th>
                </tr>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Fecha de Vto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Lote</th>
                    <th scope="col">Ubicacion</th>
                    
>
                </tr>
            </thead>

            <tbody>


                <tr>
                    <td>GRIPABEN T DESCONGESTIVO X 5 GRS</td>
                    <td>28/10/2023</td>
                    <td>500000</td>
                    <td>12345678911234567891</td>
                    <td>Rack 1 - Posicion A2</td>
                </tr>

        </tbody>
        <hr>
    </table>
   
    </div>
        

