.str1 {stroke:#737273;stroke-width:18.73;stroke-miterlimit:22.9256}
.str0 {stroke:#737273;stroke-width:24.98;stroke-miterlimit:22.9256}
.str2 {stroke:#737273;stroke-width:12.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.fil5 {fill:none}
.fil2 {fill:#E6E7E8}
.fil0 {fill:#6B809B}
.fil3 {fill:#737273}
.fil1 {fill:#FEFEFE;fill-rule:nonzero}
.fil4 {fill:#727376;fill-rule:nonzero}
    
    .ocupacion-1{
        fill:#6B809B
      }
    
      .ocupacion-0{
          fill: rgb(95, 143, 95)
      }